# Global ignores
.DS_Store
.env
.env.local

# Backend
/backend/node_modules/
/backend/package-lock.json

# Frontend
/frontend/node_modules/
/frontend/dist
/frontend/.vite

#otros
bitget-api-master/
node_modules/
build
dist
github-token.txt
APIKEY

